.vscode

src/user/client.exe
src/user/server.exe
src/user/log/*.log
src/user/database.db

src/kernel/.Module.symvers.cmd
src/kernel/.modules.order.cmd
src/kernel/.prm.ko.cmd
src/kernel/.prm.mod.cmd
src/kernel/.prm.mod.o.cmd
src/kernel/.prm.o.cmd
src/kernel/.prm_hook.o.cmd
src/kernel/.prm_module.o.cmd
src/kernel/.prm_netlink.o.cmd
src/kernel/Module.symvers
src/kernel/modules.order
src/kernel/prm.ko
src/kernel/prm.mod
src/kernel/prm.mod.c
src/kernel/prm.mod.o
src/kernel/prm.o
src/kernel/prm_hook.o
src/kernel/prm_module.o
src/kernel/prm_netlink.o

*.out